<a href="@Url.Action("GioHang", "GioHang")"
   style="color:black; font-weight:bold; text-decoration:none;">
    <img src="~/Images/cart.png" />
    <span class="badge">@ViewBag.TongSoLuong</span>    

</a>

