@{
    ViewBag.Title = "Blue Pudding";
}

<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/counter.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="container">
            <h2 class="text-center">SẢN PHẨM MỚI</h2>
            <hr>
            @Html.Action("SanPhamMoiPartial", "Home")
        </div>
        <div class="container-fluid">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <div class="thumbnail" style="border:none">
                    <img src="~/Images/Nike.jpg" style="height: 200px; width:500px" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook ">
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <div class="thumbnail" style="border:none;">
                    <img src="~/Images/adidas.png" style="height: 200px; width:500px" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook ">

                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <div class="thumbnail" style="border:none">
                    <img src="~/Images/unnamed.jpg" style="  height: 200px;  width: 500px;" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook ">

                </div>
            </div>

        </div>

        <h2 class="text-center">GIÀY BÁN NHIỀU</h2>
        <hr>
        <div class="container">
            @Html.Action("SanPhamBanChayPartial", "Home")
        </div>
    </div>
    <div class="container-fluid" style="background-color: #f2f2f2;margin-top:50px;">
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="intro">
                    <p>Cửa hàng luôn mang đến những mẫu giày chất lượng tốt nhất với giá cả hợp lí nhất đến tay người tiêu dùng với hệ thống cửa hàng Số 1 và bán online khắp Việt Nam.</p>
                </div>
                <div class="counters">
                    <span class="counter" data-target="800000">0</span>
                    <div class="counter-title">
                        Số sản phẩm đã bán
                    </div>
                    <span class="counter" data-target="50000">0</span>
                    <div class="counter-title">
                        Khách hàng đã mua
                    </div>
                </div>
                
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="video">
                    <iframe width="750" height="400" src="https://www.youtube.com/embed/yjyAHOQvwDE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>
    <div style="background-color:#808080">
        <img src="~/Images/Slider/sneakerhead-3076.jpg" style="width:100%; height:350px;" />
    </div>
    <script src="~/Scripts/counter.js"></script>
</body>
</html>
